-e .
albumentations
autoflake
black
blacken-docs
boto3
click
cmake
dlib
docformatter
dvc[all]
dvclive
hydra-core
hydra_colorlog
hyperopt
ipywidgets
jupyter
matplotlib
natsort
nose
notebook
opencv-python
pandas
pathlib
pipreqs
pre-commit
print-dict
Pygments
pylint
python-crontab
PyYAML
ray[tune,default]
reorder-python-imports
rope
seaborn
tensorflow
tensorflow_addons
tqdm
wandb
